@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f4f0f8] text-[#332a54] font-sans antialiased selection:bg-[#7c3aed] selection:text-white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* Custom Soft Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f4f0f8;
}

::-webkit-scrollbar-thumb {
  background: #d8d0e7;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8accd;
}

